@import url("./utils.css");

.resultText {
  font-size: 1rem;
  font-weight: 300;
  padding: 0 0.5rem;
}

.suggestionsContainer {
  list-style: none;
  padding: 0.5rem;
}
a {
  text-decoration: none;
  color: #333;
}

.pCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  margin-bottom: 1rem;
}

.primaryCard {
  border-radius: 0.5rem;
  background-color: var(--primary-color);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

.primaryCard[id="pCard-0"] {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.primaryCard.wide {
  border-radius: 0.5rem;
  background-color: var(--primary-color);

  grid-column-start: 1;
  grid-column-end: 3;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
}

.suggestionTitle {
  padding: 0.5rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  font-size: medium;
}

.suggestionImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0rem 0rem;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.wide .suggestionImg {
  width: 132px;
  height: 132px;
  margin: 0.3rem;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.wide .suggestionTitle {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  font-size: medium;
  line-height: 16px;
}

.suggestionDesc {
  padding: 0.5rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

@media screen and (min-width: 768px) {
  .suggestionCard {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: minmax(auto, 1fr) 2fr;
  }
  .suggestionImg {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .suggestionTitle {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .suggestionDesc {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
