@import url("./utils.css");

.background {
  background-color: var(--background-color);
}

.paragraph {
  margin: 1rem;
  text-align: justify;
  color: var(--text-color);
}

.box {
  display: grid;
  align-self: center;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
  grid-gap: clamp(0.5rem, 0.7rem, 2rem);
  text-align: justify;
}
/**
.titleBox {
  background-color: var(--primary-color);
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  box-sizing: content-box;
  text-align: center;
}
*/

.titleBox {
  background-color: var(--primary-color);
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  /**text-align: center;*/
}

.secondBox {
  background-color: var(--tertiary-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

.firstBox {
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

/**
.turquiseBox {
  background-color: var(--tertiary-color);
  padding: 1rem;
  margin: 1rem;
  flex: 1;
  text-align: justify;
  border-radius: 0.5rem;
  min-width: 10rem;
}

.yellowBox {
  background-color: var(--secondary-color);
  padding: 1rem;
  margin: 1rem;
  flex: 1;
  text-align: justify;
  border-radius: 0.5rem;
  /**grid-auto-rows: 1fr;
}*/

.smallTitle {
  color: var(--text-color);
  text-align: center;
}
