@import url("./utils.css");

.boxWrapper-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  background-color: var(--primary-color);
  grid-gap: 0.5rem;

  margin: 1rem;
  padding: 1rem;
  border-radius: 0rem 0.5rem 0.5rem 0.5rem;
}

.boxTitle {
  margin: 0;
  color: var(--depolariser-orange);
  border-radius: 0.5rem;
}

h4 {
  margin-bottom: 0.5rem;
  font-size: medium;
}

.sectionHeading {
  margin: 1rem;
  color: var(--depolariser-orange);
  border-radius: 0.5rem;
}

.content {
  margin: 0;
  color: var(--text-color-secondary);
}

.boxWrapper-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  background-color: var(--primary-color);
  grid-gap: 0.5rem;

  margin: 1rem;
  padding: 1rem;
  border-radius: 0rem 0.5rem 0.5rem 0.5rem;
}

.four-way-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  background-color: var(--primary-color);
  grid-gap: 0.5rem;

  border-radius: 0rem 0.5rem 0.5rem 0.5rem;
}

.four-way-card > .smallTitle {
  margin: 0;
  color: var(--depolariser-orange);
  border-radius: 0.5rem;
}

.four-way-card > .content {
  grid-column-start: 1;
  grid-column-end: 2;
}

.chart {
  width: 10rem;
}
.boxWrapper-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, auto);
  background-color: var(--primary-color);
  grid-gap: 0.5rem;

  margin: 1rem;
  padding: 1rem;
  border-radius: 0rem 0.5rem 0.5rem 0.5rem;
}

.eight-way-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  background-color: var(--primary-color);
  grid-gap: 0.5rem;

  border-radius: 0rem 0.5rem 0.5rem 0.5rem;
}

.eight-way-card > .smallTitle {
  margin: 0;
  color: var(--depolariser-orange);
  border-radius: 0.5rem;
}

.eight-way-card > .content {
  grid-column-start: 1;
  grid-column-end: 2;
}

@media screen and (min-width: 768px) {
  .boxWrapper-1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .boxWrapper-2 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }

  .boxWrapper-2 > .content {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .boxWrapper-3 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
