/* Fill me in :) */

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@300;600&display=swap");

@import url("./utils.css");

.paragraph {
  margin: 1rem;
  text-align: justify;
  color: var(--text-color-secondary);
}

.box {
  display: grid;
  align-self: center;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
  grid-gap: clamp(0.5rem, 0.7rem, 2rem);
  text-align: justify;
  margin: 1rem;
}

.titleBox {
  background-color: var(--primary-color);
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  color: var(--text-color-primary);
}

.missionBox {
  background-color: var(--secondary-color);
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  color: var(--text-color-primary);
}

.smallBox {
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--text-color);
}

.button {
  background-color: var(--tertiary-color);
  border-radius: 0.5rem;
  color: var(--text-color);
}
