/* Fill me in :) */

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@300;600&display=swap");

@import url("./utils.css");

.mainGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
  grid-template-areas: "main";
  grid-gap: 1rem;
  margin: 1rem;
}
.missionBox {
  background-color: var(--primary-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--text-color-primary);

  grid-column-start: 1;
  grid-column-end: 2;
}
h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}
.smallBox {
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--text-color-primary);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleBox {
  background-color: var(--primary-color);
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  color: var(--text-color-primary);
}

.redirect {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--secondary-color);
  background-color: var(--depolariser-orange);

  transition: opacity 0.2s;
  cursor: pointer;

  font-size: 0.7rem;
  flex-grow: 1;
}

.redirect:hover {
  background-color: var(--depolariser-orange-light);
}

@media screen and (min-width: 768px) {
  .mainGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "main main";
  }
  .missionBox {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
