@import url("./utils.css");

.titleStatement {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--text-color-secondary);
  padding: 1rem;
}

input {
  text-align: center;
  vertical-align: middle;
}
.testBool,
.testOption {
  /* opacity: 0.6; */
  transition: opacity 0.2s;
  border-radius: 0.5rem;
  border: 1px solid var(--secondary-color);
  background-color: var(--depolariser-orange);
}

.testBool {
  font-size: 0.7rem;
  width: 250px;
  height: 56px;
  max-width: 100%;
}

.testBool:hover,
.testOption:hover {
  cursor: pointer;
  background-color: var(--depolariser-orange-light);
}

[data-selected="true"] {
  background-color: var(--depolariser-orange-dark);
  font-weight: 600;
}

.testBool:hover[data-selected="true"] {
  background-color: var(--depolariser-orange);
}

.testBoolContainer {
  padding: 1rem;
  display: grid;
  align-self: center;
  grid-template-columns: repeat(auto-fit, minmax(min(100%/3, 200px), 1fr));
  grid-gap: clamp(0.5rem, 0.7rem, 2rem);
}

.testOption {
  font-size: clamp(0.1rem, 0.7rem, 1rem);
  text-align: left;
  margin-top: 5px;
  width: clamp(100px, 100%, 700px);
}

.testStatement {
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--text-color-secondary);
}

.testOptionContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testTitle {
  margin-left: 1rem;
  margin-bottom: 0;
  color: var(--text-color-primary);
}

.testScaleContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*testScale is a slider with 
background = orange 
slider= white 
*/
.testScale {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: var(--depolariser-orange);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -moz-animation: 0.2s;
  animation: opacity 0.2s;
  transition: opacity 0.2s;
  border: 1px solid var(--secondary-color);
}

.testScale:hover {
  opacity: 1;
}

.testScale::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--primary-color);
  cursor: pointer;
}

.testScale::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--primary-color);
  cursor: pointer;
}

.testScale::-ms-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--primary-color);
  cursor: pointer;
}

.testScale::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.testScale::-ms-fill-lower {
  background: var(--depolariser-orange);
  border-radius: 10px;
}

.testScale::-ms-fill-upper {
  background: var(--depolariser-orange);
  border-radius: 10px;
}

.testScale::-moz-range-track {
  width: 100%;
  cursor: pointer;
  background: var(--depolariser-orange);
  border-radius: 10px;
}

.testScale::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background: var(--depolariser-orange);
  border-radius: 10px;
}

.testScale::-moz-range-progress {
  background: var(--depolariser-orange);
  border-radius: 10px;
}

.testScale::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--primary-color);
  cursor: pointer;
}

/* Submit button */
.testSubmit {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--secondary-color);
  background-color: var(--depolariser-orange);
  transition: opacity 0.2s;

  cursor: pointer;

  font-size: 0.7rem;
}

.testSubmit:hover {
  background-color: var(--depolariser-orange-light);
}
