@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --background-color: #ffffff;
  --text-color-primary: #272727;
  --text-color-secondary: #979797;

  --primary-color: #ffffff;
  --secondary-color: grey;
  --tertiary-color: black;
  --hover-color: lightgrey;
  --secondary-hover-color: darkgrey;

  --depolariser-orange: hsl(38, 87%, 53%);
  --depolariser-orange-light: hsl(38, 87%, 63%);
  --depolariser-orange-dark: hsl(38, 87%, 40%);

  background-color: var(--background-color);
  color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1e1e1e;
    --text-color-primary: #e0e0e0;
    --text-color-secondary: #979797;

    --primary-color: #323232;
    --secondary-color: #8d8d8d;
    --tertiary-color: white;
    --hover-color: darkgrey;
    --secondary-hover-color: grey;

    color: var(--secondary-color);
  }
}

.u-bgcolor {
  background-color: var(--background-color);
}

.u-textcolmain {
  color: var(--text-color-primary);
}

.u-textcolmain:hover {
  color: var(--depolariser-orange);
}

.u-depoorange {
  color: var(--depolariser-orange);
}

.u-textcolsec {
  color: var(--text-color-secondary);
}

.u-primcolor {
  color: var(--primary-color);
}

.u-secondarycolor {
  color: var(--secondary-color);
}

em {
  font-style: unset;
  color: var(--depolariser-orange);
}
