/*  Mobile-first design. So hamburger menu is default*/
@import url("../pages/utils.css");
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 0 1rem;
  height: 4rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.NavBar-links {
  display: none;
}

.NavBar-login {
  display: none;
}

.NavBar-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--depolariser-orange);
}

.NavBar-title:hover {
  color: var(--depolariser-orange-light);
}

.Router-link {
  text-decoration: none;
  color: inherit;
}

.NavBar-hamburger-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.NavBar-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

button.NavBar-hamburger-toggle {
  background-color: transparent;
  border: none;
  padding: 0;
}

.NavBar-hamburger-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 35px;

  cursor: pointer;
}
.NavBar-hamburger-line {
  width: 100%;
  height: 5px;
  background-color: var(--depolariser-orange);
}

.NavBar-hamburger-dropdown {
  position: absolute;
  top: 4rem;
  right: 0;
  width: 100%;
  background-color: var(--depolariser-orange);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.NavBar-hamburger-dropdown a {
  display: block;
  padding: 1rem;
  text-align: center;
  color: #333;
}

.NavBar-hamburger-dropdown a:hover {
  background-color: var(--depolariser-orange-light);
}

.NavBar-hamburger-dropdown[aria-hidden="true"] {
  display: none;
}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 0 1rem;
    height: 4rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  }

  .NavBar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }

  .NavBar-links a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
  }

  .NavBar-hamburger-wrapper {
    display: none;
  }

  .NavBar-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--depolariser-orange);
  }

  .NavBar-login {
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    color: #333;
  }

  .Router-link {
    text-decoration: none;
    color: inherit;

    color: var(--depolariser-orange);
  }

  .Router-link:hover {
    color: var(--depolariser-orange-light);
  }
}
